#set( $className = ${Utils.capitalizeFirstLetter($classObject.getName())} )
#set( $lowercaseClassName = ${Utils.lowercaseFirstLetter( ${className})} )
<h1>Listing ${className}s</h1>
<%= link_to 'New ${lowercaseClassName}', new_${lowercaseClassName}_path %>
<table>
  <tr>
#set( $includePrimaryKey = false )
#set( $includeHierarchy = true )
#foreach( $attribute in ${classObject.getAttributesOnly( $includeHierarchy, $includePrimaryKey )} )    
			<th style="text-align:center">${attribute.getDisplayName()}</th>
#end##foreach ( $attribute = $classObject.getAttributesOrderedInHierarchy( $includePrimaryKey ) )
			<th colspan="2">Actions</th>
  </tr>
 
  <% @${lowercaseClassName}s.each do |${lowercaseClassName}| %>
    <tr>   
#foreach( $attribute in ${classObject.getAttributesOnly( $includeHierarchy, $includePrimaryKey )} )    
	  <td style="vertical-align:middle"><%= ${lowercaseClassName}.${attribute.getName()} %></td>
#end##foreach ( $attribute = $classObject.getAttributesOrderedInHierarchy( $includePrimaryKeys ) )     
      <td><%= link_to 'Show', ${lowercaseClassName}_path(${lowercaseClassName}) %></td>
      <td><%= link_to 'Edit', edit_${lowercaseClassName}_path(${lowercaseClassName}) %></td>
      <td><%= link_to 'Destroy', ${lowercaseClassName}_path(${lowercaseClassName}),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>